<div id="editar-proyecto" class="inner-form">
	<div class="row">
		<input type="text" id="id_hidden_proy" style="visibility: hidden;">
		<div class="six columns">
			<label>Título</label>
			<input type="text" name="titulo_proyecto_edit" class="smoothborder">
			<label>Tipo:</label>
			<input type="text" name="tipo_proyecto_edit" class="smoothborder">
			<label>Participantes</label>
			<input type="text" name="participantes_proyecto_edit" class="smoothborder">
			<div class="row">
				<div class="six columns">
					<label>Desde</label>
					<input type="date" id="desde_proyecto_edit" name="desde_proyecto_edit">
				</div>
				<div class="six columns">
					<label>Hasta</label>
					<input type="date" id="hasta_proyecto_edit" name="hasta_proyecto_edit">
				</div>
			</div>
			<label>Claves</label>
			<input type="text" name="claves_proyecto_edit" class="smoothborder">
			<label>Especialidad</label>
			<input type="text" name="especialidad_proyecto_edit" class="smoothborder">
		</div>
	</div>
	<input type="button" class="btn btn-primary subir_proyecto_editado" value="Subir">
</div>