<div class="content">
	<%_.each(proyectos, function(p){%>
		<div class="row">
			<a href="#/remove_proyecto/<%=p.get('id')%>" class="ten columns">
				<div class="twelve columns">
					<p>Título: <b><%=p.get('titulo')%></b><br>
						Tipo de proyecto: <b><%=p.get('tipo')%></b><br>
						Participantes: <b><%=p.get('participantes')%></b><br>
						Fecha desde: <b><%=p.get('desde')%></b> hasta: <b><%=p.get('hasta')%></b><br>
						Especialidad: <b><%=p.get('especialidad')%></b>
					</p>
				</div>
			</a>
		</div>
	<%});%>
</div>