<div class="row">
	<div class="twelve columns">
		<h3>Autoridades</h3>
		<hr>
	</div>
</div>
<div class="row">
	<div class="six columns">
		<div class="row">
			<div class="two columns">
				<img src="images/perfil/Bjerg.jpg" alt="" width="70" />
			</div>
			<div class="ten columns">
				<h5>Director</h5>
				<div><strong>Dr. Ernesto A. Bjerg</strong> – Investigador Principal CONICET</div>
			</div>
		</div>
	</div>
	<div class="six columns">
		<div class="row">
			<div class="two columns">
				<img src="images/perfil/DIMIERI_LUIS.JPG" alt="" width="70" />
			</div>
			<div class="ten columns">
				<h5>Vice Director</h5>
				<div><strong>Dr. Luis V. Dimieri</strong> – Investigador Independiente CONICET</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<hr>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<h4>Consejo Directivo</h4>
	</div>
</div>
<div class="row">
	<div class="six columns">
		<h5>Miembros Titulares</h5>
		<div><strong>Dra. Marcela Borel</strong> – Investigador Adjunto CONICET</div>
		<div><strong>Dra. Ana María Borromei</strong> – Investigador Independiente CONICET</div>
		<div><strong>Dr. Luis Dimieri</strong> – Investigador Independiente CONICET</div>
		<div><strong>Dra. Ester Farinati</strong> – Investigador UNS</div>
		<div><strong>Dra. Raquel Guerstein</strong> – Investigador Independiente CONICET</div>
		<div><strong>Dr. Marcelo Martínez</strong> – Investigador Adjunto CONICET</div>
	</div>
	<div class="six columns">
		<h5>Miembros Suplentes:</h5>
		<div><strong>Dr. Daniel Gregori</strong> – Investigador Independiente CONICET</div>
		<div><strong>Dra. Verónica Guler</strong> – Investigador Adjunto CONICET</div>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<hr>
		<h4>Administración</h4>
	</div>
	<div class="six columns">
		<div class="row">
			<div class="two columns">
				<img src="images/perfil/no_perfil.png" alt="" width="70" />
			</div>
			<div class="ten columns">
				<h5>Secretaria de Dirección</h5>
				<div><strong>Sra. Verónica Castro</strong></div>
			</div>
		</div>
		
	</div>
	<div class="six columns">
		<div class="row">
			<div class="two columns">
				<img src="images/perfil/no_perfil.png" alt="" width="70" />
			</div>
			<div class="ten columns">
				<h5>Asistente de Administración</h5>
				<div><strong>Sra. María Victoria González</strong></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<hr>
		<h4>Profesionales de Apoyo</h4>
	</div>
</div>
<div class="row">
	<div class="six columns">
		<div><strong>Tec. Luciano Baraldi</strong> – Laboratorio de Palinología</div>
		<div><strong>Lic. Ana Mercedes Cassano</strong> – Laboratorio de Petrotomía</div>
		<div><strong>Lic. María Soledad Melatini</strong> – Laboratorio de Petrotomía</div>
	</div>
</div>