<div>
	

<!-- SUBHEADER
================================================== -->
<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				 CONTÁCTENOS
			</p>
			
		</div>
	</div>
</div>
<div class="hr">
</div>
<!-- CONTENT 
================================================== -->
<div class="row">
    <!-- GOOGLE MAP IFRAME -->
	<div class="twelve columns">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.6777763003083!2d-62.2691575!3d-38.7022453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95edbb5163eebead%3A0x987986b4859b147a!2sSan+Juan+670%2C+Bah%C3%ADa+Blanca%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1434310126996" width="100%" height="450" frameborder="0" style="border:0"></iframe>
	</div>
</div>
<div class="hr"></div>
<div class="row">
	<!-- CONTACT FORM -->
	<div class="twelve columns">
		<div class="wrapcontact">
			<div class="done">
				<div class="alert-box success">
				 El mensaje ha sido enviado! <a href="" class="close">x</a>
				</div>
			</div>			
			<form id="contactform">
				<div class="form">
				    <div class="six columns noleftmargin">
						<label>Nombre</label>
						<input type="text" name="name" class="smoothborder" placeholder="Ingrese su nombre*"/>
					</div>
					<div class="six columns noleftpadding">
						<label>E-mail</label>
						<input type="text" name="email" class="smoothborder" placeholder="Ingrese su email *"/>
					</div>
					<label>Mensage</label>
					<textarea name="comment" class="smoothborder ctextarea" rows="14" placeholder="Mensaje, comentarios, feedback *"></textarea>
					<input type="button" class="readmore enviar-mail" value="Enviar">
				</div>
			</form>			
		</div>
	</div>
												
</div>
<div class="hr">
</div>
</div>
<script src="lib/formvalidation.js"></script>