<div class="row">
	<div class="twelve columns">
		<h3>Estructura Administrativa</h3>
		<hr>

		<h5>Consejo Directivo</h5>
		<p>El Consejo Directivo del <strong>INGEOSUR</strong> está conformado por ocho miembros pertenecientes a la Unidad Ejecutora, siendo ellos investigadores con categoría Adjunto sin director o investigadores de mayor jerarquía del CONICET y docentes investigadores de la UNS que revisten en la planta permanente del <strong>INGEOSUR</strong> El mismo es presidido por el Director del Instituto.</p>

		<h5>Comisiones internas del <strong>INGEOSUR</strong></h5>
		<ul class="circle">
			<li><p><strong>Comisión de Difusión y Divulgación</strong> - Responsable: Dra. Verónica Guler – Miembros: Dra. Claudia Marcela Borel – Dra. Teresa Manera – Lic. Melisa Angeletti – Lic. Sol González Estebenet.</p></li>
			<li><p><strong>Comisión de Seguridad</strong> - Responsable: Dr. Luis Dimieri – Miembros: Dr. Marcelo Martínez – Lic. Ana Mercedes Cassano.</p></li>
			<li><p><strong>Comisión de Equipamiento</strong> - Responsable: Dra. Silvina Marfil.</p></li>
		</ul>

		<h5>Responsables laboratorios del <strong>INGEOSUR</strong></h5>
		<ul class="circle">
			<li><p><strong>Laboratorio Petrotomía</strong> - Responsable: Dra. Cristina Frisicale – Dra. Mirta Garrido – Miembros: Lic. María Soledad Melatini</p></li>
			<li><p><strong>Laboratorio Palinología</strong> - Responsable: : Dra. Verónica Guler – Dr. Marcelo Martínez – Miembros: Lic. Luciano Baraldi</p></li>
			<li><p><strong>Laboratorio Rayos X</strong> - Responsable: Dra. Silvina Marfil</p></li>
		</ul>

		<h5>Representantes del <strong>INGEOSUR</strong> en el Consejo Asesor de investigación de la SGCyT de la UNS</h5>
		<ul class="circle">
			<li><p><strong>Miembro Titular</strong> - Dra. Gabriela Ferracutti</p></li>
			<li><p><strong>Miembro Suplente</strong> - Dr. Rodrigo Tomassini</p></li>
		</ul>

		<h5>Representantes del <strong>INGEOSUR</strong> en las Comisiones Internas de Consejo Directivo del CONICET BAHÍA BLANCA</h5>
		<ul class="circle">
			<li><p><strong>Comisión de Seguridad</strong> - Dr. Luis Dimieri</p></li>
			<li><p><strong>Comisión Grandes Equipos</strong> - Dr. Daniel A. Gregori</p></li>
			<li><p><strong>Comisión de Espacios, Edificios, Obras y Servicios</strong> - Dr. Marcelo Martínez</p></li>
			<li><p><strong>Comisión de Estrategia y Planeamiento</strong> - Dra. Verónica Guler</p></li>
			<li><p><strong>Subcomisión de Evaluación de Ingresos CPA</strong> - Dra. Raquel Guerstein</p></li>
			<li><p><strong>Subcomisión de Seguimiento de Becarios</strong> - Dra. Raquel Guerstein</p></li>
			<li><p><strong>Comisión de Teconología, Innovación y Transferencia</strong> - Dra. Silvina Marfil</p></li>
		</ul>

		<h5>Servicios Administrativos</h5>
		<p>En la Secretaría del <strong>INGEOSUR</strong> se brindan servicios generales de contabilidad, recepción de solicitudes de presupuestos de trabajos a investigadores y empresas , tramitación de las compras generales del Instituto, atención de proveedores locales y extranjeros, solicitudes de cotización y emisión de órdenes de compra, confección de concursos de precios, recepción de los bienes, control del inventario de los equipos y otros bienes patrimoniales del instituto, gestión contable de los servicios STAN que se brindan en el <strong>INGEOSUR</strong> y de los servicios internos brindados a investigadores, becarios y docentes del ámbito <strong>INGEOSUR-UNS</strong>.</p>
		<p>Asimismo se realizan gestiones de control de documentación, archivos, recibos de haberes, recepción y envío de correspondencia, legajos, licencias, trámites jubilatorios y pedidos de personal. Organización de reuniones, ciclos de conferencias y eventos institucionales y de difusión del Instituto o CCT Bahía Blanca. Gestiones ante la ART y colaboración en temas relacionados con el área de Seguridad e Higiene.</p>
		
		<h5>Responsables</h5>
		<ul class="circle">
			<li><p><strong>Sra. Verónica Castro</strong></p></li>
			<li><p><strong>Sra. María Victoria González</strong></p></li>
		</ul>

	</div>



</div>