<div class="content">
	<div class="row">
		<div class="twelve columns">
			<h3>Extensión Institucional y Académica</h3>
			<hr>

			<p>
				El <b>INGEOSUR</b> organiza, desde el año 2009, el <b class="blue">Ciclo de Conferencias INGEOSUR</b>, cuyo objetivo es dar a conocer las actividades de investigadores, docentes y becarios en una serie de exposiciones de 45 minutos, que se llevan a cabo en la Sala de Conferencias del Departamento de Geología. Las presentaciones tienen como objetivo fundamental dar a conocer en nuestra comunidad los temas en los que cada uno se encuentra trabajando y eventualmente los resultados obtenido o las complejidades que hayan surgido en su desarrollo. A dichas charlas asisten alumnos, becarios, docentes e investigadores.
			</p>
			<p>
				En el marco de las actividades de extensión miembros del INGEOSUR se han acercado a establecimientos educativos de Bahía Blanca y la zona ofreciendo charlas/talleres educativos con distintos temarios inherentes a las diferentes áreas de investigación en la que desarrollan sus labores investigadores y becarios.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="two columns img-small">
			<img src="images/perfil/no_perfil.jpg">
		</div>
		<div class="ten columns texto-vertical">
			<p><b>Veronica Castro</b></p>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<p>
				En el año 2012 el <b>INGEOSUR</b> organizó la <b class="blue">Muestra de Arte INGEOSUR</b>, en la Casa de la Cultura, la cual consistió en la exposición de obras pertenecientes a miembros y allegados al <b>INGEOSUR</b>, referidas a diferentes manifestaciones artísticas tales como pintura, fotografía, telares, diseños, etc. El objetivo de la exposición fue el mostrar estilos y formatos diferentes que permitieran a los espectadores descubrir a los integrantes de la comunidad científica y geológica desde el campo del arte. En el cierre de la Muestra se contó con la presencia de un grupo de música de fusión y cuyo vocalista es un investigador del <b>INGEOSUR</b>.
			</p>
		</div>
	</div>
</div>