<div class="row">
	<div class="twelve columns">
		<h3>Historia</h3>
		<hr>

		<h4>Antecedentes y Fundamentos de su creación</h4>
		<p>
			El <b>Instituto Geológico del Sur</b>,<b> INGEOSUR</b>, fue creado el 7 de Octubre 1994 por Resolución del Consejo Universitario de la Universidad Nacional del Sur (UNS) Nro. 397/94, por iniciativa de los Grupos de Investigación del Departamento de Geología de la frl Departamento de Geología de la UNS.
		</p>
		<p>
			El 26 de Diciembre de 2006 el Directorio del CONICET aprobó por Resolución Nro. 3087 la creación de la Unidad Ejecutora "Instituto Geológico del Sur" (<b>INGEOSUR</b>), de doble dependencia CONICET - UNIVERSIDAD NACIONAL DEL SUR e integrada al Centro Científico Tecnológico CONICET Bahía Blanca, con sede en dependencias del Departamento de Geología de la UNS, en la calle San Juan 670 de la ciudad de Bahía Blanca.
		</p>
		<p>
			Por Resolución Nro. 2575 del 21 de Septiembre de 2010, el Directorio del CONICET designó al Dr. Ernesto A. Bjerg como Director Regular del <b>INGEOSUR</b>, siendo su Vicedirector el Dr. Luis V. Dimieri. La incorporación del <b>INGEOSUR</b> al CONICET como una Unidad Ejecutora le ha brindado un marco institucional de pertenencia a los investigadores y becarios del CONICET que hasta el momento no contaban a nivel local con un vínculo administrativo y funcional más estrecho con el CONICET pero que sí tenían una estrecha vinculación laboral y administrativa con el Departamento de Geología de la Universidad Nacional del Sur, institución que les ha brindado lugar de trabajo y en la cual cumplen funciones como Profesores y Auxiliares de Docencia.
		</p>
		<p>
			El plantel del <b>INGEOSUR</b> está integrado por personal del CONICET, de la Comisión de Investigaciones Científicas de la provincia de Bs. As. y docentes-investigadores de la UNS. Los investigadores y becarios son autores, en los últimos ocho años, de más de 530 artículos publicados en revistas de circulación periódica, congresos, workshops y reuniones científicas de carácter nacional e internacional, así como capítulos de libros.
		</p>
		<p>
			El Instituto tiene un fuerte compromiso en la formación de recursos humanos como lo atestigua la dirección y codirección de más de 35 becarios que realizan sus tesis doctorales, 10 de ellos con lugar de trabajo en el instituto y los restantes desarrollando su tareas en otros institutos y universidades del país.
		</p>
		<p>
			En el <b>INGEOSUR</b> desarrollan sus tareas 25 investigadores, 9 becarios del CONICET, 2 de la ANPCyT, 3 Profesionales de Apoyo y 2 administrativos.
		</p>
		<p>
			Sus investigadores son titulares de alrededor de 50 subsidios a proyectos de investigación y tienen distintos grados de responsabilidad y participación en convenios de colaboración científica y tecnológica con instituciones nacionales e internacionales.
		</p>
		<p>
			La creación del Instituto ha posibilitado reforzar el vínculo entre el CONICET, la Universidad y la sociedad mediante la formulación de proyectos de extensión, dado que las estructuras académicas propias de la Universidad resultan un canal conveniente y natural para su concreción.
		</p>

		<h4>Visión</h4>
		<p>
			La Unidad Ejecutora <b>INGEOSUR</b> tiene como objetivo general potenciar los proyectos de investigación en disciplinas de las Ciencias de la Tierra, del Agua y de la Atmósfera y más específicamente en el campo de las Ciencias Geológicas, tanto en sus particularidades como en aspectos de interés común tendientes a generar acciones en el campo académico que puedan ser transmitidas a la sociedad. Resulta de particular interés el desarrollo de proyectos interdisciplinarios que se nutran de las líneas de trabajo específicas. Los objetivos se canalizan a través de cada uno de los proyectos de investigación, la formación de recursos humanos de grado y de posgrado y las actividades de docencia, asesoramiento y transferencia al medio socio-productivo.
		</p>
		<p>
			Los objetivos centrales del Instituto son:
		</p>
		<ul class="circle">
			<li>
				<p>Desarrollar Investigación básica y aplicada en las siguientes disciplinas: mineralogía, petrología, geoquímica, paleontología, génesis de yacimientos metalíferos y no metalíferos, geología regional, minerales industriales, aguas subterráneas, fuentes de energía no convencionales, etc.</p>
			</li>
			<li>
				<p>Formar recursos humanos, principalmente a través de la incorporación de becarios a las distintas disciplinas de investigación desarrolladas en el instituto.</p>
			</li>
			<li>
				<p>Formular y ejecutar planes y programas de investigación en forma conjunta y/o en colaboración con otros investigadores e instituciones del país y del exterior.</p>
			</li>
			<li>
				<p>Identificar las necesidades y potencialidades productivas y sociales de la región y el país para contribuir activamente al desarrollo de las mismas. Organizar reuniones de carácter científico y difundir los temas vinculados a las disciplinas desarrolladas en su ámbito a través de ciclos de conferencias y charlas.</p>
			</li>
			<li>
				<p>Brindar Servicios Tecnológicos de Alto Nivel y Servicios de Asesoramiento a empresas, organismos e instituciones tanto del ámbito público como privado.</p>
			</li>
			<li>
				<p>Promover y favorecer una mayor interrelación entre los grupos de investigación propios y los de otras instituciones del país y del exterior, tanto para articular proyectos de investigación multidisciplinar, como para responder a demandas que exceden las capacidades del campo disciplinar del <b>INGEOSUR</b>.</p>
			</li>
		</ul>
	</div>
</div>