<div class="row">
	<div class="twelve columns">
		<h3><%=title%></h3>
	</div>
	<div class="twelve columns">
		Análisis de las regiones morfoestructurales y ambientes geotectónicos de Argentina para establecer su evolución geodinámica. Evaluación y modelado de cuencas sedimentarias, arcos magmáticos, orógenos y áreas cratónicas. Procedencia de sedimentos eólicos cuaternarios y valoración de emisiones en la región árida y semiárida de la llanura pampeana.

		En la ejecución de los proyectos del área interactúan especialistas de diversas disciplinas: geología estructural, petrología igneo-metamórfica, geoquímica, sedimentología, estratigrafía, paleontología, teledetección y sensores remotos, entre otras.
	</div>
</div>