<div class="row login">
	<div class="five columns form">
		<form> 
			<fieldset>
				<div class="row">
					<div class="ten columns">
						<label>Usuario</label>
						<input type="text" class="smoothborder" name="user" placeholder="Ingrese el usuario">
						<label>Contraseña</label>
						<input type="password" class="smoothborder" name="password" placeholder="Contraseña">
						<input type="button" class="btn btn-primary login-user" value="Ingresar">
					</div>
				</div>
			</fieldset>
		</form> 
	</div>
</div>