<div class="row">
	<div class="twelve columns">
		<h3>Objetivos</h3>
		<hr>

		<h4>Generales</h4>
		<p>Potenciar los trabajos de investigación original en disciplinas de las Ciencias de la Tierra en general y de las correspondientes a las Ciencias Geológicas en particular, con un especial énfasis en el desarrollo de proyectos interdisciplinarios que se nutren de las líneas de trabajo específicas. Los objetivos se canalizarán a través de cada uno de los proyectos de investigación, la formación de recursos humanos de pregrado y posgrado, actividades de asesoramiento y transferencia al medio</p>
		<ul  class="circle">
		<li><p>Promover y ejecutar tareas de investigación científica y tecnológica.</p></li>
		<li><p>Formar recursos humanos que contribuyan a favorecer el desarrollo del conocimiento, especialmente en las diferentes áreas de la investigación geológica del entorno regional y nacional.</p></li>
		<li><p>Difundir y divulgar los conocimientos generados mediante la publicación, organización y participación de los miembros del instituto en eventos científicos, educacionales y culturales.</p></li>
		<li><p>Ofrecer y brindar asesoría y asistencia técnica y científica al medio productivo y a la sociedad en general a través de la prestación de servicios</p></li>
		</ul>
		<h4>Científicos y Tecnológicos</h4>
		<p>Propiciar la formulación y ejecución de proyectos y programas de investigación científica y tecnológica básica y aplicada, tanto del campo de las Ciencias Exactas y Naturales como las de carácter interdisciplinario. Brindar Servicios Tecnológicos de Alto Nivel y Servicios de Asesoramiento a empresas, organismos e instituciones del ámbito público y privado.Brindar asesoría y asistencia técnica y científica a la sociedad en general.</p>
		<h4>Recursos Humanos</h4>
		<p>Promover el desarrollo e implementación de nuevos posgrados. Planificar y organizar actividades relativas a cursos y seminarios de posgrado y/o especialización. Promover y brindar actualización permanente a los graduados para permitirles adecuarse a los nuevos conocimientos y a las nuevas tecnologías. Contribuir en todos los niveles educativos a la formación de recursos humanos para la investigación y la docencia en su área de conocimiento. Difundir y coordinar ofertas de becas nacionales y extranjeras para favorecer la formación de recursos humanos de primer nivel.</p>
		<h4>Relaciones Institucionales</h4>
		<p>Establecer vínculos de cooperación con instituciones nacionales y extranjeras abocadas a tareas de investigación en temas y áreas afines. Propiciar el establecimiento de relaciones con las instituciones internacionales que se ocupen del desarrollo de esas disciplinas y aquellas de carácter interdisciplinario que contribuyan a la solución de diversos problemas de índole local, regional, nacional e internacional. Participar activamente en el resguardo científico y cultural de los bienes geológico-paleontológicos de la Nación.</p>
		<h4>Extensión y Divulgación</h4>
		<p>Desarrollar actividades de extensión y difusión de los resultados de sus actividades en congresos, simposios, reuniones y revistas científicas, tanto nacionales como internacionales y otros medios que se consideren convenientes. Organizar cursos, seminarios, ciclos de charlas y conferencias en las disciplinas de su competencia destinadas a la sociedad en general, así como propiciar su difusión y cooperar en su realización.</p>
	</div>
</div>