<div class="row">
	<div class="twelve columns">
		<h3>Sercicios Científicos Tecnológicos a Terceros</h3>
		<hr>
	</div>
</div>	
<div class="row">
	<div class="twelve columns">
		El CONICET despliega una política de apertura y vinculación a la sociedad, poniendo a disposición de los sectores socioeconómicos su experiencia en investigación y desarrollo. Dentro de este marco, el <b>INGEOSUR</b> tiene una extensa experiencia y capacidad en el desarrollo de investigación científica básica y aplicada en el campo de las ciencias de la tierra.		

		<h6>* Servicios Tecnológicos de Alto Nivel (STAN)</h6>
	
		<p>Es el instrumento por el cual los grupos de investigación del Instituto brindan asesoramiento y asistencia técnica en el estudio y análisis de:</p>
		<ul class="circle">  
			<li><p>Minerales, rocas y materiales.</p></li>
			<li><p>Caracterización petrográfica-mineralógica: determinación de asociaciones minerales, textura, forma y tamaño.</p></li>
			<li><p>Microscopía, difractometría de RX, análisis térmico.</p></li>
		</ul>

		<h6>* Asesoramiento:</h6>

		<p>El <b>INGEOSUR</b> ofrece capacitación y asesoramiento de alto nivel en geología regional morfoestructural y ambientes geotectónicos de Argentina, proyectos de exploración, manejo y explotación de recursos renovables y no renovables, tanto al sector estatal como privado.</p>

		<p>Los asesoramientos se refieren más específicamente a:</p>
		<ul class="circle">
			<li><p>Mineralogía.</p></li>
			<li><p>Petrología.</p></li>
			<li><p>Geoquímica.</p></li>
			<li><p>Geocronología.</p></li>
			<li><p>Evaluación y modelado de cuencas sedimentarias, arcos magmáticos, orógeneos y áreas cratónicas.</p></li>
			<li><p>Provisión de agua para consumo humano, subterráneas, calidad y estudio de sedimentos eólicos cuaternarios.</p></li>
			<li><p>Geología estructural y tectónica, estudio de fajas corridas y plegadas.</p></li>
			<li><p>Análisis y construcción de secciones estructurales balanceadas.</p></li>
			<li><p>Interpretación sísmica.</p></li>
			<li><p>Relevamiento geológico de superficie y estudio de fracturación regional.</p></li>
			<li><p>Reconstrucciones paleoceanográficas y correlaciones bioestratigráficas.</p></li>
		</ul>

		<h6>* Capacitación:</h6>

		<p>Elaboración y dictado de cursos especializados teóricos y prácticos en instalaciones de la empresa o campo. Asesoramiento para la resolución de problemas específicos vinculados a la exploración de recursos minerales e hidrocarburos.</p>

		<p>Entre algunas de las numerosas empresas e instituciones que solicitan servicios y asesoramiento se cuentan las siguientes:</p>

		<ul class="circle">
			<li><p>AEROTERRA.</p></li>
			<li><p>BHP BILLITON Ltd.</p></li>
			<li><p>CANTERA PIGÜE S.A.</p></li>
			<li><p>CERÁMICA ALBERDI.</p></li>
			<li><p>CERÁMICA CORTINES.</p></li>
			<li><p>CERÁMICA ILVA.</p></li>
			<li><p>CERÁMICA SAN LORENZO.</p></li>
			<li><p>CERÁMICA ZANÓN.</p></li>
			<li><p>CONIPASA - ECOFISA - INGENIERIA Y ARQUITECTURA.</p></li>
			<li><p>DIRECCIÓN DE VIALIDAD DE LA PROVINCIA DE LA PAMPA.
DURLOK S.A.</p></li>
			<li><p>EG3.</p></li>
			<li><p>ESEBA S.A.</p></li>
			<li><p>FAPA S.A.</p></li>
			<li><p>FERRO Argentina S.A.</p></li>
			<li><p>FERROEXPRESO PAMPEANO.</p></li>
			<li><p>FURFURO.</p></li>
			<li><p>GEOIL TECHNOLOGY.</p></li>
			<li><p>GEOMAP S.A.</p></li>
			<li><p>GEOTEK S.R.L.</p>
			<li><p>IACA LABORATORIOS.</p></li>
			<li><p>IATASA S.A.</p></li>
			<li><p>INDUPA.</p></li>
			<li><p>Ing. GIOVAMBATISTA Y ASOC.</p></li></li>
			<li><p>INSTITUTO TECNOLÓGICO DEL HORMIGÓN S.A.</p></li>
			<li><p>JOHN KRANE.</p></li>
			<li><p>JUAN MINETTI S.A.</p></li>
			<li><p>KLAUKOL S.A.</p></li>
			<li><p>L.O.S.A. LAFARGE.</p></li>
			<li><p>LEMEIEC - Dpto. de Construcciones - Facultad de Ingeniería – UNLP.</p></li>
			<li><p>LEMIT.</p></li>
			<li><p>LOMA NEGRA.</p></li>
			<li><p>MINERA ALUMBRERA S.A.</p></li>
			<li><p>MINERA AMEGHINO.</p></li>
			<li><p>MINERA DEPROMINSA.</p></li>
			<li><p>MINERA JOSÉ CHOLINO.</p></li>
			<li><p>MINERA PIEDRA GRANDE.</p></li>
			<li><p>MUNICIPALIDAD DE BAHIA BLANCA.</p></li>
			<li><p>PETROBRAS S.A.</p></li>
			<li><p>PIRO Y RUIZ.</p></li>
			<li><p>POLISUR S.A.</p></li>
			<li><p>PREYCOSUR S.C.</p></li>
			<li><p>SALINA LA AURORA.</p></li>
			<li><p>SGF GLOBAL GROUP.</p></li>
			<li><p>SOLVAY INDUPA S.A.</p></li>
			<li><p>TECHINT S.A.</p></li>
			<li><p>TGS.</p></li>
			<li><p>TRINIDAD VIAL S.R.L.</p></li>
			<li><p>UNCPBA.</p></li>
			<li><p>UTE.</p></li>
			<li><p>VIARSE.</p></li>
		</ul>
	</div>
</div>






